nav {
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgb(13 64 141) 0%, rgba(63,114,204,1) 51%, #607d8b 100%);
	box-sizing: border-box;
	color: #FFF;
	padding: 7px 10px;
	text-align: right;
}
nav a{
	color: inherit;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
#productos-contenedor table{
	border-collapse: collapse;
	margin: 10px auto;
	width: 80%;

}

#productos-contenedor table th{
	background-color: #3a588f;
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 5px 0px;
	text-align: center;
}

#productos-contenedor table tr td:nth-child(n+4){
	text-align: center;
}

#productos-contenedor table tr td{
	padding: 3px 0px 3px 10px;
}

#productos-contenedor table tr td, #productos-contenedor table th {
border: 1px solid gray;
}

#mensaje {
	color: #FFF;
	font-weight: bold;
	padding: 7px 0px;
	text-align: center;
}
.error {
	background-color: #d36767;
}
.info {
	background-color: #689d4d;
}
.warning{
	background-color: #fff174;
	color: black;
}

/* =========== LOGIN ============== */
.formulario{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 1.1rem;
	justify-content: space-evenly;
	margin: 0px auto;
	min-height: 200px;
	width: 60%;
}

.formulario > div {
	width: 100%;
	text-align: center;
}

.formulario > div > label {
	display: inline-block;
	width: 70px;
	text-align: center;
}
.formulario > input[type="submit"] {
	background-color: white;
	border: 1px solid blue;
	color: blue;
	cursor: pointer;
	margin: 0px auto;
	max-width: 250px;
	padding: 7px 10px;
	text-align: center;
}
.formulario > input[type="submit"]:hover {
	background-color: blue;
	color: white;
}
