<div class="formulario">
	<div>
		<label for="username">Usuario</label>
		<input type="text" id="username">
	</div>
	<div>
		<label for="password">Clave</label>
		<input type="password" id="password">
	</div>
	<div>
		<input type="submit" value="Ingresar" id="login">
	</div>
	<div>
		No tengo un usuario. <a href="/register">Registrarme ahora</a>
	</div>
</div>