<div class="formulario">
	<div>
		<label for="first_name">Nombre</label>
		<input type="text" id="first_name" value="Federico" required>
	</div>
	<div>
		<label for="last_name">Apellido</label>
		<input type="text" id="last_name" value="Alemany" required>
	</div>
	<div>
		<label for="email">Email</label>
		<input type="text" id="email" value="mfalemany@gmail.com"required>
	</div>
	<div>
		<label for="age">Edad</label>
		<input type="text" id="age" value="40" required>
	</div>
	<div>
		<label for="password">Password</label>
		<input type="text" id="password" value="miClave" required>
	</div>
	<input type="submit" value="Registrar" id="user-register">
</div>